.card {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  border-color: #9fcdff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}


a.btn {
border-radius: 15px;
border-color: #007bff;
    transition: all 0.3s ease;
  }
  
  a.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }