<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/" style="color: #007bff;">EASY</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a></li>
        @if (isLoggedIn()) {
          @if (!isAdmin()) {
            <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/orders" routerLinkActive="active">My Orders</a></li>
          } @else {
            <li class="nav-item"><a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">All Orders</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/add-product" routerLinkActive="active">Add Product</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/update-products" routerLinkActive="active">Update Products</a></li>
          }
        }
      </ul>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if (!isLoggedIn()) {
          <li class="nav-item"><a class="nav-link" routerLink="/register">Sign Up</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        } @else {
          <li class="nav-item"><a class="nav-link-danger" (click)="logout()">Logout</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
